<header class="l-header">
    <h1>ロゴ</h1>
    <ul>
        <li>
            <a href="<%- rootDirectory %>">home</a>
        </li>
        <li>
            <a href="<%- rootDirectory %>template/">temp</a>
        </li>
        <li>
            <a href="<%- rootDirectory %>template/test/">test</a>
        </li>
    </ul>
</header>
